body{
    width:914px;
}

table{
    height: 224px;
}
thead{
    height: 24px;
}
tbody{
    height: 194px;
}

td{
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.main-list, .actions{
  margin-bottom: 10px;
}

.book_title, .book_body{
  display: block;
  cursor: default;
}

.td-title3{
  color: #000;
}


#error_explanation{
    width: 450px;
    height: 123px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}


p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}



li {
    display: list-item;
    text-align: -webkit-match-parent;
}



#edit-title{
    margin-bottom: 10px;
}

label {
    display: block;
}

input{
    corsor: text;
}

textarea{
    corsor: text;
}